
<!doctype html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-access" src="https://cdn.ampproject.org/v0/amp-access-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>

    <link rel="canonical" href="https://ampbyexample.com/samples_templates/comment_section/">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
    form.amp-form-submit-success [submit-success] {
        width: 100%;
        color: black;
    }
    form.amp-form-submit-success > amp-img,
    form.amp-form-submit-success > .ampstart-input,
    form.amp-form-submit-success > input,
    form.amp-form-submit-success .button{
        display: none;
    }
    form.amp-form-submit-error [submit-error] {
        color: red;
    }
    .user {
      color: #ff4081;
      font-weight: 700;
    }
    .date {
      color: #a8a3ae;
    }
    .comment {
        background: #f2f2f2;
        margin: 0 16px 16px 0;
        width: 100%;
    }
    </style>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script id="amp-access" type="application/json">
    {
        "authorization": "https://ampbyexample.com/samples_templates/comment_section/authorization?rid=READER_ID&url=CANONICAL_URL&ref=DOCUMENT_REFERRER&_=RANDOM",
        "noPingback": "true",
        "login": {
          "sign-in": "https://ampbyexample.com/samples_templates/comment_section/login?rid=READER_ID&url=CANONICAL_URL",
          "sign-out": "https://ampbyexample.com/samples_templates/comment_section/logout"
        },
        "authorizationFallbackResponse": {
            "error": true,
            "loggedIn": false
        },
        "vishnu": {
          "sign-in": "https://ampbyexample.com/samples_templates/comment_section/login?rid=READER_ID&url=CANONICAL_URL",
          "sign-out": "https://ampbyexample.com/samples_templates/comment_section/logout"
        }
    }
    </script>

    </head>
    <body>


      <p [text]="'This is a ' + currentAnimal + '.'">This is a dog.</p>

<p class="greenBackground" [class]="myAnimals[currentAnimal].style">
  Each animal has a different background color.
</p>


    <h2 class="p1">Comments</h2>
<div>

      <amp-list class="mt1" width="auto" height="230" layout="fixed-height" src="/home/comments.json">
        <template type="amp-mustache">
          <div class="flex px1 pt1">
            <amp-img width="44" height="44" class="mr1 flex-none" alt="user" src="https://ampbyexample.com/img/ic_account_box_black_48dp_1x.png"></amp-img>
            <div class="ampstart-card p1 comment">

              <p><span class="user">{{user}}</span> <span class="date">{{datetime}}</span></p>
              <h1>{{text}}</h1>
            </div>
          </div>
        </template>
      </amp-list>
    </div>

    <span amp-access="NOT loggedIn" role="button" tabindex="0" amp-access-hide>
          <h2 class="m1">Please login to comment</h2>
          <button on="tap:amp-access.login-sign-in" class="ampstart-btn mx1 mt1 caps">Login</button>
    </span>
    <div>

      <form id="myform" class="px1 pt1 flex" amp-access="loggedIn" amp-access-hide method="post" action-xhr="https://ampbyexample.com/samples_templates/comment_section/submit-comment-xhr" target="_top">
        <amp-img width="44" height="44" class="flex-none mr1 mt1" alt="user" src="https://ampbyexample.com/img/ic_account_box_black_48dp_1x.png"></amp-img>
        <div class="ampstart-input inline-block relative m0 p0 mb3">
          <!-- <input type="text" value="" name="text" id="ip1" class="block border-none p0 m0" placeholder="Your comment ..." required=""> -->
          <label>
   <input name="text" value="Value 1" type="radio" on="change:myform.submit"> Value 1
 </label>
 <label>
    <input name="text" value="Value 2" type="radio" on="change:myform.submit"> Value 2
  </label>

        </div>
        <input type="submit" value="Comment" class="ampstart-btn caps m1">
        <div submit-success>
          <template type="amp-mustache">
            <div class="flex">
              <amp-img width="44" class="mr1 flex-none" height="44" alt="user" src="{{UserImg}}"></amp-img>
              <div class="ampstart-card p1 comment">
               <p><span class="user">{{User}}</span> <span class="date">{{Datetime}}</span></p>
               <p>{{Text}}</p>
              </div>
            </div>
          </template>
        </div>
        <div submit-error>
          <template type="amp-mustache">
            Error! Looks like something went wrong with your comment, please try to submit it again. {{error}}
          </template>
        </div>
      </form>
    </div>

      <button amp-access="loggedIn" amp-access-hide tabindex="0" on="tap:amp-access.login-sign-out" class="ampstart-btn m2 caps">Logout</button>

</body>
</html>
